.frontierscum {
  input[type='number'],
  input[type='text'] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: $dotted;
    font-family: $mono-font;
    font-size: 1.8rem;
    text-align: center;
  }

  textarea {
    background-color: $light-gray;
    border: none;
    font-family: $mono-font;
    font-size: 1.8rem;
    resize: none;
  }

  .top-label {
    background-color: black;
    color: white;
    font-family: $label-font;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  // undo some Roll20 label styles
  // TODO: where should this live?
  label {
    display: inline;
    margin: 0;
    padding: 0;
    width: unset;
  }  
}
