.horsesheet-body
  .inner1 
    .inner2
      .name-block 
        .field-row.name-row 
          label NAME 
          input(type='text', name='attr_character_name', placeholder='Lightning Bolt')
        .field-row
          label LIKES
          input(type='text', name='attr_horse_likes', placeholder='Daily baths')
          label TYPE
          input(type='text', name='attr_horse_type', placeholder='Brown riding horse')
        .field-row
          label NOTES
          input(type='text', name='attr_horse_notes')
        .field-row
          label VEHICLE
          input(type='text', name='attr_horse_vehicle')
      .on-your-horse 
        .top-label ON YOUR HORSE
        .on-horse-row
          input(type='text', name='attr_on_horse_1')
        .on-horse-row
          input(type='text', name='attr_on_horse_2')
        .on-horse-row
          input(type='text', name='attr_on_horse_3')
        .on-horse-row
          input(type='text', name='attr_on_horse_4')
        .on-horse-row
          input(type='text', name='attr_on_horse_5')
        .on-horse-row
          input(type='text', name='attr_on_horse_6')
        .on-horse-row
          input(type='text', name='attr_on_horse_7')
        .on-horse-row
          input(type='text', name='attr_on_horse_8')
        .on-horse-row
          input(type='text', name='attr_on_horse_9')
        .on-horse-row
          input(type='text', name='attr_on_horse_10')
      .stolen-block
        .stats
          .stat-row          
            .stat-block 
              label STOLEN 
              .horseshoe
                input(type='text', inputmode='numeric', name='attr_horse_stolen', placeholder=0)
            .stat-block 
              label HP 
              .horseshoe
                input(type='text', inputmode='numeric', name='attr_hp', placeholder=0)
          .stat-row
            .stat-block 
              label MORALE 
              .horseshoe
                input(type='text', inputmode='numeric', name='attr_horse_morale', placeholder=0)
            .stat-block 
              label MAX 
              .horseshoe
                input(type='text', inputmode='numeric', name='attr_hp_max', placeholder=0)
      .horse1 
      .horse2


