.frontierscum .charsheet {
  border: 1px solid black;
  padding: 20px;
  width: 738px;
}

.frontierscum .charsheet-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .fs-logo {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    font-family: $logo-font;
    font-size: 2.0em;
    line-height: 0.9em;
    padding-top: 2px;
  }
  .wanted {
    font-family: $slab-font;
    font-size: 6.0em;
    line-height: 0.8em;
  }
  .dead-or-alive {
    font-family: $cursive-font;
    font-size: 1.5em;
  }
}