input(type=`hidden`, name=`attr_sheet_mode`, value=`scum`)
.frontierscum
  .sheet-selector 
    select(name='attr_sheet_mode')
      option(value='scum') &#129312;
      option(value='horse') &#128014;
  main.scum
    include scumsheet/layout
  main.horse
    include horsesheet/layout