.char-sheet-body
  .name-block
    .fields 
      .field-row
        input(type='text', name='name', placeholder='Kid Pomade', spellcheck='false')
      .field-row
        label A
        input(type='text', name='class', placeholder='Drifter', spellcheck='false')
      .field-row
        label WANTED FOR
        input(type='text', name='wanted_for', placeholder='Repeated fraud', spellcheck='false')
    .rewards
      label REWARDS 
      textarea
  .abilities-block
    .ability-col
      .ability.grit
        .top-label.name Grit
        .value
          input(type='text', inputmode='numeric', name='grit', placeholder=0)
      .ability.slick
        .top-label.name Slick
        .value
          input(type='text', inputmode='numeric', name='slick', placeholder=0)
      .ability.wits
        .top-label.name Wits
        .value
          input(type='text', inputmode='numeric', name='wits', placeholder=0)
      .ability.luck
        .top-label.name Luck
        .value
          input(type='text', inputmode='numeric', name='luck', placeholder=0)          
    .portrait-col
      .portrait-inner
        img(src='img/portrait-placeholder.jpg')
    .condition-col
      .top-label.conditions-and-notes Conditions & Notes
      .condition-row.miserable 
        .checkbox
          input(type='checkbox', name='miserable')
        .non-checkbox
          | Miserable (
          input(type='text', name='misery', spellcheck='false')
          | &nbsp;). You don't recover HP from rest.
      .condition-row.drunk 
        .checkbox
          input(type='checkbox', name='drunk')
        .non-checkbox
          | Drunk.
          | Swap your 
          input(type='text', name='drunk_stat_1', spellcheck='false')
          | &nbsp;and
          input(type='text', name='drunk_stat_2', spellcheck='false')
          | &nbsp;until sober.
      .notes
        textarea(placeholder="Notes and such", spellcheck='false')
      .notes
        textarea(placeholder="More of 'em", spellcheck='false')

  .hp-block 
    .stat-block.hp 
      .name 
        | HP
      .value 
        input(type='text', inputmode='numeric', name='hp', placeholder=0)
    .stat-block.max-hp 
      .name 
        | MAX HP
      .value 
        input(type='text', inputmode='numeric', name='max_hp', placeholder=0)
    .stat-block.aces 
      .name 
        | ACES
      .value 
        input(type='text', inputmode='numeric', name='aces', placeholder=0)

  .equipment-block
    .eq-col-1
      .eq-section.on-your-head
        .top-label
          | ON YOUR HEAD
        .eq-row
          input(type='text', name='on_your_head')
      .eq-section.skills
        .skills-label
          | SKILLS
        .eq-row
          input(type='text', name='skills_1')
        .eq-row
          input(type='text', name='skills_2')
        .eq-row
          input(type='text', name='skills_3')
        .eq-row
          input(type='text', name='skills_4')
        .eq-row
          input(type='text', name='skills_5')
        .eq-row
          input(type='text', name='skills_6')
    .eq-col-2
      .eq-section.on-your-belt
        .top-label
          | ON YOUR BELT
        .eq-row
          input(type='text', name='belt_1')
        .eq-row
          input(type='text', name='belt_2')
        .eq-row
          input(type='text', name='belt_3')
      .eq-section.on-your-back
        .top-label
          | ON YOUR BACK
        .eq-row
          input(type='text', name='back_1')
        .eq-row
          input(type='text', name='back_2')
        .eq-row
          input(type='text', name='back_3')
    .eq-col-3 
      .eq-section.in-your-pockets
        .top-label
          | IN YOUR POCKETS
        .eq-row
          input(type='text', name='pockets_1')
        .eq-row
          input(type='text', name='pockets_2')
        .eq-row
          input(type='text', name='pockets_3')
        .eq-row
          input(type='text', name='pockets_4')
        .eq-row
          input(type='text', name='pockets_5')
        .eq-row
          input(type='text', name='pockets_6')
        .eq-row
          input(type='text', name='pockets_7')
        .eq-row
          input(type='text', name='pockets_8')
        .eq-row
          input(type='text', name='pockets_9')
        .eq-row
          input(type='text', name='pockets_10')