.charsheet-header
  .fs-logo FRONTIER SCUM
  .wanted WANTED
  .dead-or-alive
    label.radio-visible
      input(type='radio', name='dead_or_alive', value='dead_or_alive', checked='true')
      | &nbsp;Dead or Alive&nbsp;
    | /
    label.radio-visible
      input(type='radio', name='dead_or_alive', value='dead')
      | &nbsp;Dead&nbsp;
    | /
    label.radio-visible
      input(type='radio', name='dead_or_alive', value='alive')
      | &nbsp;Alive&nbsp;
