@import url('https://fonts.googleapis.com/css2?family=Smokum&family=Satisfy&family=Inconsolata&family=Ultra&family=Alegreya&display=swap');

$cursive-font: 'Satisfy', cursive;
$logo-font: 'Smokum', cursive;
$slab-font: 'Ultra', serif;
//$label-font: 'Smokum', cursive;
$label-font: 'Ultra', serif;
$mono-font: 'Inconsolata', monospace;
$serif-font: 'Alegreya', serif;
$border: 2px solid black;
$dotted: 1px dotted black;

$light-gray: #eeeeee;

// .charsheet .frontierscum {
.frontierscum {
  border: 1px solid black;
  padding: 20px;

  input[type='number'],
  input[type='text'] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: $dotted;
    font-family: $mono-font;
    text-align: center;
  }

  textarea {
    background-color: $light-gray;
    border: none;
    font-family: $mono-font;
    resize: none;
  }

  .top-label {
    background-color: black;
    color: white;
    font-family: $label-font;
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
  }

  .char-sheet-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .fs-logo {
      border-bottom: 4px solid black;
      border-top: 4px solid black;
      font-family: $logo-font;
      font-size: 2.0em;
      line-height: 0.9em;
      padding-top: 2px;
    }
    .wanted {
      font-family: $slab-font;
      font-size: 6.0em;
      line-height: 0.8em;
    }
    .dead-or-alive {
      font-family: $cursive-font;
      font-size: 1.5em;
    }
  }

  .char-sheet-body {
    display: flex;
    flex-direction: column;
    .name-block {
      display: flex;
      margin-bottom: 10px;
      width: 100%;
      .fields {
        display: flex;
        flex-direction: column;
        flex: 0 0 590px;
        width: 100%;
        label {
          font-family: $label-font;
          font-size: 0.7em;
          margin-right: 4px;
        }
        input {
          flex: 1;
        }
        .field-row {
          display: flex;
          width: 100%;
        }
      }
      .rewards {
        flex: 0 0 50px;
        margin-left: 10px;
        text-align: center;
        label {
          font-family: $label-font;
          font-size: 0.9em;
        }
        textarea {
          width: 100px;
        }
      }
    }
    .abilities-block {
      display: flex;
      margin-bottom: 10px;
      .ability-col {
        display: flex;
        flex: 0 0 120;
        flex-direction: column;
        .ability {
          align-items: center;
          border-bottom: none;
          border-left: $border;
          border-right: none;
          border-top: none;
          display: flex;
          flex: 0 0 72px;
          flex-direction: column;
          .name {
            background-color: black;
            color: white;
            flex: 0 0 30px;
            width: 100%;
          }
          .value {
            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            padding: 4px;
            width: 100%;
            input {
              text-align: center;
              width: 50px;
            }
          }
        }
        .ability:last-child {
          border-bottom: $border;
        } 
      }
      .portrait-col {
        border: 2px solid black;
        flex: 0 0 280;
        padding: 4px;
        align-items: center;
        display: flex;
        justify-content: center;
      .portrait-inner {
          border: 2px solid black;
          img {
            height: 274px;
            width: 274px;
          }  
        }
      }
      .condition-col {
        display: flex;
        margin-left: 2px;
        flex: 0 0 350px;
        flex-direction: column;
        justify-content: space-between;
        border: $border;
        .conditions-and-notes {
          flex: 0 0 30px;
        }
        .condition-row {
          display: flex;
          flex: 0 0 45px;
          font-family: $mono-font;
          font-size: 0.7em;
          padding: 4px;
          .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;;
            flex: 0 0 50px;
          }
          .non-checkbox {
            flex: 1;
            input {
              width: 60px;
            }
          }
        }        
        .miserable {
        }
        .drunk {
          border-top: $border;
        }
        .notes {
          border-top: $border;
          flex: 0 0 62px;
          padding: 4px;
          textarea {
            border: none;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .hp-block {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      .stat-block {
        align-items: center;
        display: flex;
        flex-direction: column;
        input {
          width: 100px;
        }
        .name {
          font-family: $label-font;
          font-size: 1.2em;
        }
        .value {

        }
      }
    }
    .equipment-block {

    }
  }
}